<%- include('../partials/header.ejs', { title: 'User - Tiendita' }); -%>

<main>
  <section class="user">
    <div class="container">
      <div class="user__header" style="height: 200px; width: 200px;">
        <img src="uploads/<%= user.image %>" alt="<%= user.username %>" style="width: 100%; height: 100%; object-fit: cover;"> 
      </div>
      <div class="user__content">
        <ul class="user__content--list">
          <h2>Bienvenido, <%= user.username %> !</h2>
          <li>Email: <%= user.email %></li>
          <li>Dirección: <%= user.address %></li>
          <li>Edad: <%= user.age %></li>
          <li>Telefono: <%= user.phone %></li>
        </ul>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/footer.ejs'); -%>