<article class="product">
  <div class="product__image">
    <img src="<%= product.thubmnail %>" alt="<%= product.title %>">
  </div>
  <div class="product__content">
    <h2><%= product.title %></h2>
    <p><%= product.description %></p>
    <span>$<%= product.price %></span>
  </div>
  <div class="producto__footer">
    <button>Add to cart</button>
  </div>
</article>